.heroAbout {
  background-image: url("../Images/HeroAboutBack.svg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background: radial-gradient(100% 100% at 50% 0%, rgba(0, 21, 79, 0.00) 44.13%, #000F3F 81.98%); */
}

.aboutContent {
  background: linear-gradient(180deg, #000f3f 25.54%, #037ec4 124.74%);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
}

.vision {
  background-color: #282932;
  box-shadow: 0px -20px 31px rgba(0, 0, 0, 0.25);
}

.founder {
  background: url("../Images/backClient.svg"),
    lightgray 0px 0px / 100% 137.325% no-repeat;
  background-size: cover;
}

.CEO {
  background: linear-gradient(180deg, #0046ff 0%, #009fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardFounder:hover {
  border-top: 10px solid #0046ff;
  border-right: 10px solid #0046ff;
  border-radius: 17px;
  transition: border 0.3s ease;
}

.tiltSpring{
  transform: skew(0deg, 351deg);
  position: absolute;
  top: -40px;
  right: 0;
}

@media screen and (max-width: 639px) {
  .tiltSpring{
    transform: skew(0deg, 341deg);
    top: 10px;
  }
}