.MuiFormControl-root{
    margin-top: 20px !important;
}

.MuiFormLabel-root{
    color: white !important;
}

.MuiInput-underline{
    border-bottom: 1px solid white !important;
}

.css-l4u8b9-MuiInputBase-root-MuiInput-root{
    font-family: 'Poppins', sans-serif !important;
}

.MuiTypography-root{
    color: #B7B7B7 !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
    color: white !important;
}

.MuiInputBase-input {
    color: white !important;
}