.cardFounder {
  border-radius: 17px;
  transition: border 0.3s ease;
}
.cardFounder:hover {
  border-top: 10px solid #0046ff;
  border-right: 10px solid #0046ff;
}
  
.founder {
  background: url("../Images/backClient.svg"),
    lightgray 0px 0px / 100% 137.325% no-repeat;
  background-size: cover;
}

