.sticky-header {
    position: fixed;
    /* display: flex; */
    /* justify-content: space-between; */
    top: 0;
    left: 0;
    width: 100%;
    /* background: rgba(255, 255, 255, 0.8);  */
    backdrop-filter: blur(10px); 
    z-index: 1000;
    padding: 10px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  */
}

.dropdown{
    background-color: transparent;
    backdrop-filter: blur(100px);
}