/* .productHero{
    background: linear-gradient(180deg, #00081E 0%, #00000C 100%);
} */
.product{
  /* background: linear-gradient(#00000D 100%, #000F3F 100%, #037EC4 100%); */
  background-color: #03091b;
}

video {
    position: relative;
      top: 40%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translate(-50%, -50%);
      z-index: 1; 
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2em;
    z-index: 1; /* to place it above the video */
  }

  /* .contentProduct{
    
    background: linear-gradient(#00000D 100%, #000F3F 100%, #037EC4 100%);
  } */

