/* .trustedBy{
    background: url('../Images/backClient.svg');
    background-repeat: no-repeat;
    background-size: cover;
} */

.text-gradientTrust {
    background: linear-gradient(180deg, #0043FF 0%, #009FFF 92.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

