/* .videoComp {
  position: relative;
  bottom: 40px;
} */

.text-gradientVid {
    background: linear-gradient(180deg, #0043FF -7.64%, #009FFF 36.11%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .demo{
    background: linear-gradient(95deg, #094CAD 0%, #00A2FF 100%);
  }