
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&family=Roboto+Slab:wght@400;500;600&family=Roboto:wght@300&family=Ubuntu:wght@300;400;500;700&display=swap');


body{
  background-image: url("./Components/Assets/Images/backClient.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
